[bumpversion]
current_version = 2.0.2
commit = True
tag = True
tag_name = {new_version}

[bumpversion:file:packages/common/src/agoras/common/version.py]
search = __version__ = '{current_version}'
replace = __version__ = '{new_version}'

[bumpversion:file:packages/cli/setup.py]
search = version = '{current_version}'
replace = version = '{new_version}'

[bumpversion:file:packages/common/setup.py]
search = version = '{current_version}'
replace = version = '{new_version}'

[bumpversion:file:packages/core/setup.py]
search = version = '{current_version}'
replace = version = '{new_version}'

[bumpversion:file:packages/media/setup.py]
search = version = '{current_version}'
replace = version = '{new_version}'

[bumpversion:file:packages/platforms/setup.py]
search = version = '{current_version}'
replace = version = '{new_version}'

[bumpversion:file:setup.py]
search = version = '{current_version}'
replace = version = '{new_version}'

[bumpversion:file:README.rst]
search = Current version: {current_version}
replace = Current version: {new_version}

[bumpversion:file:README.short.rst]
search = Current version: {current_version}
replace = Current version: {new_version}

[rosey-maintainer]
post_bump_commands =
make virtualenv
./virtualenv/bin/python3 scripts/sync_package_deps.py
