services:
  app:
    image: luisalejandro/agoras:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3456:3456"
    volumes:
      - .:/home/agoras/app
      - ~/Library/Caches/pip:/home/agoras/.cache/pip
    env_file:
      - .env
