atoma==0.0.17
tweepy==4.14.0
python-facebook-api==0.19.0
gspread==6.1.2
google-auth==2.33.0
python-dateutil==2.9.0.post0
filetype==1.2.0
linkedin-api-client==0.3.0
requests==2.32.3
beautifulsoup4==4.12.3