name: Code Quality

on:
  schedule:
    - cron: '00 6 * * 5'

jobs:
  build:
    name: Generating code quality report
    runs-on: ubuntu-22.04
    if: github.repository == 'LuisAlejandro/agora'
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v1
        with:
          languages: python
          config-file: ./.github/codeql-config.yml
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v1